.fa-cogs {
  color: white;
}

.delete-form {
    display: inline;
}

.delete-task, .someday-btn {
  padding-left: 0.5em;
}


.alert-danger {
   z-index: 1;
   position: absolute;
   width: 70%;
}

textarea {
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;       
}

.list-group-item {
  height: 55px;
}

.list-group-item span {
    margin-left: 5px;
}

.task-edit .task-delete {
   text-align: right;
}

.delete-task, .someday-btn {
  padding-top: 0.5em;
}

/*
 * Sticky Add-Task Button
*/

#sticky-btn {
    position: fixed;
    bottom: 5%;
    right: 5%; 
}

#sticky-btn-AddLi {
    position: fixed;
    bottom: 15%;
    right: 5%; 
}

.date {
   width: 12em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.imgSub {
  width: 100%;
}

/*
 *  Responsive Handling
*/
@media (max-width: 575.98px) {
  .select-box { 
    width: 10px;
  }
  h1 { font-size: 18px !important;font-weight: bold !important; }
}