<% include ../partials/header %>

    <header class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"> Index | Projects</h1>
        </div>
    </header>  

<div class="container">
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <div class="col">
            <ul class="list-group task-list">
            <% projects.forEach(function(project){ %>
               <li name="name" data-id="<%= project._id %>" class="list-group-item">
                <span contentEditable="true"><%= project.name %></span><a href="/projects/<%= project._id %>"> Go to project</a>
               </li>
            <% }); %>
            </ul>
        </div>
    </div>
    <div id="sticky-btn">
        <a class="btn btn-primary btn-lg" href="#">Add Project</a>
    </div>
</div>

<script>
// Edit item inline --> save when focus is lost

$(".list-group-item").focusout(function(){
var projectid = $(this).attr('data-id');
var projectname = $(this).find("span").text();
console.log(projectname);
console.log(projectid);
   $.ajax({
      method: "POST",
      url: "/projects/" + projectid + "/?_method=PUT",
      data: {ID: projectid, name: projectname},
      success: function(result) {
        console.log("SUCCESS EDIT");
        location.reload(true);
      }
    });
});



// Add new task in current list (without form)
$("#sticky-btn").click(function(){
   $.ajax({
      method: "POST",
      url: "/projects",
      data: {name: "New Project"},
      success: function(result) {
        console.log("SUCCESS ADD");
        location.reload(true);
      }
    });
});
</script> 
            
<% include ../partials/footer %>